*{
    padding: 0;
    margin: 0;
}

:root{
    --background-body: #001122;
    --orange: #ff8400;
    --secundary-color: #00ffb3;
    --white: #fff;
    --black: #000;
}
body{
    background-color: var(--background-body);
}
#titulo{
    color: var(--white);
    text-align: center;
    font-size: 30px;
    color: var(--orange);
}
form{
    position: relative;
    width: 340px;
    height: 75vh;
    box-shadow: 0 0 4px var(--white);
    border-radius: 10px;
    margin: 69px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}
form select{
    width: 95%;
    height: 30px;
    border: none;
    /* border-bottom: 2px solid var(--orange); */
    box-shadow: 0 0 1px 0 var(--orange);
    outline: none;
    margin: 15px auto 0;
    color: var(--orange);
    background-color: transparent;
}
form label{
    position: absolute;
    right: 50px;
    bottom: 150px;
    color: var(--orange);
    font-family: 'Segoe UI';
    font-size: 12px;
}
form input{
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.132);
    margin: 10px auto;
    color: var(--white);
    padding: 0 15px;
    border-radius: 20px;
}
form input:focus{
    border-bottom: 2px solid var(--orange);
    background-color: transparent;
    color: var(--orange);
}
form input[type='submit']{
    position: relative;
    bottom: -9px;
    padding: 0;
    font-size: 16px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
}
form input[type='submit']:hover{
    color: var(--white);
    background-color: var(--orange);
}